


<html lang="ja">
  <head>
    <title>創作</title>
    <meta charset="utf-8">

    <meta name="description" content="テキストテキストテキストテキストテキストテキストテキストテキスト">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
 
    <%# <link rel="stylesheet" href="css/style.css"> %>
  </head>

  <body>
    <header id="header">
      <h1 class="site-title">
        <a href="/">想作和食 旬</a>
      </h1>

      <nav id="nav">
      
      <% if user_signed_in? %>
        <ul>
          <li><%= link_to "予約", new_reservation_path, method: :get %></li>
          <li><%= link_to "注文", "#" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        </ul>
        <% end %>
      </nav>

      <a class="pagetop1" id="top" href=/reservations/new>お店のご予約はこちら</a> 
    </header>



    <main>
      <section id="news" class="wrapper">
        
      </section>

      <section id="products1" class="products wrapper">
        <h2 class="section-title">
          <span class="ja">ご注文</span>

          
        </h2>
        <div class="img">
          <img src="img/products1.jpg" alt="">
          <p class="text">テキストテキスト<br>テキストテキスト</p>
        </div>
      </section>


    </main>




 <script>
    const topLink = document.getElementById("top");
    window.addEventListener("scroll", () => {
      const scrollValue = document.scrollingElement.scrollTop;
      if (scrollValue >= 140) {
          topLink.style.display = "inline";
      } else if (scrollValue < 140) {
          topLink.style.display = "none";
      }
    });
</script>